<! DOCTYPE HTML>
<html>
<head>
    <title>Login</title>
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap.css">
    <link rel="stylesheet" href="/styles/sb-admin.css">
    <link rel="stylesheet" href="/styles/font-awesome.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/login.css">
    <link rel="stylesheet" href="/styles/plugins/bootstrap3-dialog.css">
    <link rel="stylesheet" href="/styles/plugins/morris.css">
    <!--STYLES END-->
</head>

<body class="login">
    <div id="fullscreen_bg" class="fullscreen_bg"/>

    <div class="container">
        <%- body %>
    </div>

</body>
</html>